<script src="~/Scripts/App.js"></script>
@model DataBase.Product
@{string t;
    if (Model.Status == true)
    {
        t = "Đang Hiện";
    }
    else
    {
        t = "Đang Ẩn";
    }
}
@Ajax.ActionLink(t, "ChangeSTT", "Admin", new AjaxOptions { HttpMethod = "POST", OnBegin = "run_waitMesm('#" + Model.ID + "')",OnComplete= "stop_waitMe('#" + Model.ID + "')",UpdateTargetId = Model.ID.ToString(), InsertionMode = InsertionMode.Replace })
@if (ViewBag.TB != null)
{
    <div class="text-danger">
        
            @ViewBag.TB
    </div>
}
