@model DataBase.Order
@{
    var item = Model;

    string t = "";
    switch (item.Status)
    {
        case 0:
            t = "Chờ xác nhận";
            break;
        case 1:
            t = "Đã chuẩn bị hàng";
            break;
        case 2:
            t = "Đang vận chuyển";
            break;
        case 4:
            t = "Thành công";
            break;
        case 6:
            t = "Không thành công";
            break;
    } }
@if (item.Status < 3)
{
    @Ajax.ActionLink(t, "changeOrderSTT", "Admin", new { ID = item.ID }, new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "orderSTT-" + item.ID.ToString(), InsertionMode = InsertionMode.Replace })}
else if (item.Status == 3)
{
    <p>Đang giao hàng -@Ajax.ActionLink("Giao cho khách", "changeOrderSTT", "Admin", new { ID = item.ID, ID2 = 4 }, new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "orderSTT-" + item.ID.ToString(), InsertionMode = InsertionMode.Replace }) - @Ajax.ActionLink("Hủy", "changeOrderSTT", "Admin", new { ID = item.ID, ID2 = 5 }, new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "orderSTT-" + item.ID.ToString(), InsertionMode = InsertionMode.Replace })</p>
}
else if (item.Status == 5)
{ <p>Đã hủy - @Ajax.ActionLink("Đang trả hàng", "changeOrderSTT", "Admin", new { ID = item.ID }, new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "orderSTT-" + item.ID.ToString(), InsertionMode = InsertionMode.Replace }) </p> }

else
{
<p>@t</p>
}