@model List<DataBase.SellProduct>
@using ShopKA.Models
@using DataBase

@{
    ViewBag.Title = "Sản phẩm đã bán";
    Layout = "~/Views/Shared/_Aminlayout.cshtml";

}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Sản phẩm đã bán</h6>
        <hr />
        <select class="select-box select-box--primary-style u-w-30" id="datesell">
            <option selected value=0>Tất cả</option>

            <option value=1>Tháng này</option>
            <option value=3>3 tháng gần nhất</option>
            <option value=6>6 tháng gần nhất</option>


        </select>
    </div>


    <div class="card-body" id="product">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Tên Sp</th>


                        <th scope="col">Tổng SL đã bán</th>
                        <th scope="col">Tổng tiền thu được</th>

                        <th scope="col">                      </th>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {

                        <tr>
                            <th scope="row">@item.ID</th>
                            <td>@item.PDName</td>
                            <td>@DBIO.CountSellPD(item.ID)</td>
                            <td>@String.Format("{00:0,0}", DBIO.CountSellPDprice(item.ID)) đ</td>

                            <td>


                                <a class="btn btn-primary" href=@Url.Action("SellDate","Admin",new { ID=item.ID}) role="button">Xem chi tiết </a>


                            </td>
                        </tr>
                    }

                </tbody>


            </table>
        </div>
    </div>
</div>
<script>
 $('body').on('change', '#datesell', function () {
  var date = document.getElementById("datesell").value;



        $.ajax({
            type: 'POST',
            data: { date:date},
            url: '/Admin/SellProduct1',
            success: function (ketqua) {
                $('#product').html(ketqua);
                                }
                            })
 });
    </script>
